<?xml version='1.0' encoding='utf-8'?>
<widget id="com.puge.meeting" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">

    <name>在岗状态系统</name>
    <description>在岗状态系统</description>

    <!-- 强制横屏 -->
    <preference name="orientation" value="landscape" />
    <!-- 全屏 -->
    <preference name="Fullscreen" value="true" />

    <!-- 入口页面 -->
    <content src="http://192.168.1.199:5000/resources/staff-status.html" />

    <!-- 插件 -->
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-androidx-adapter" source="npm" />
    <plugin name="cordova-plugin-androidx" source="npm" />

    <!-- 允许 HTTP 明文流量 -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />

    <!-- 应用图标 -->
    <icon src="res/icon.png" />

    <!-- Android 设置 -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="29" />
    </platform>

</widget>
